script(src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.17.0/js/md5.min.js")
script.
  window.addEventListener('load', () => {
    const changeContent = (content) => {
      if (content === '') return content

      content = content.replace(/<[^>]+>/g,"") // remove html tag
      content = content.replace(/(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|jpeg|gif|png|webp)/g, '') // remove image link
      content = content.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi, '') // remove url

      if (content.length > 150) {
        content = content.substring(0,150) + '...'
      }
      return content
    }

    const getIcon = (icon, mail) => {
      if (icon) return icon 
      let defaultIcon = '!{ theme.newest_comments.leancloud.default_avatar ? `?d=${theme.newest_comments.leancloud.default_avatar}` : ''}'
      let iconUrl = `https://gravatar.loli.net/avatar/${md5(mail.toLowerCase()) + defaultIcon}`
      return iconUrl
    }

    const generateHtml = array => {
      let result = ''

      for (let i = 0; i < array.length; i++) {
        result += '<div class=\'aside-list-item\'>'

        if (!{theme.newest_comments.avatar}) {
          result += `<a href='${array[i].url}' class="thumbnail"><img src='${getIcon(array[i].avatar, array[i].mail)}' alt='${array[i].nick}'></a>`
        }

        result += `<div class='content'>
        <a class='comment' href='${array[i].url}'>${array[i].content}</a>
        <div class='name'><span>${array[i].nick}</span><time> / ${btf.diffDate(array[i].date, true)}</time></div>
        </div></div>`
      }

      let $dom = document.querySelector('#card-newest-comments .aside-list')
      $dom.innerHTML= result
      window.pjax && window.pjax.refresh($dom)
    }

    const getValineData = () => {
        let serverURL = ''
        if (!{Boolean(theme.newest_comments.leancloud.serverURL)}) {
          serverURL = '!{theme.newest_comments.leancloud.serverURL}'
        } else {
          serverURL = 'https://!{theme.newest_comments.leancloud.appId.substring(0,8)}.api.lncldglobal.com'
        }

      var settings = {
        "method": "GET",
        "headers": {
          "X-LC-Id": '!{theme.newest_comments.leancloud.appId}',
          "X-LC-Key": '!{theme.newest_comments.leancloud.appKey}',
          "Content-Type": "application/json"
        },
      }

      fetch(`${serverURL}/1.1/classes/Comment?limit=!{theme.newest_comments.limit}&order=-createdAt`,settings)
        .then(response => response.json())
        .then(data => {
          const valineArray = data.results.map(function (e) {
            return {
              'avatar': e.QQAvatar,
              'content': changeContent(e.comment),
              'mail': e.mail,
              'nick': e.nick,
              'url': e.url,
              'date': e.createdAt,
            }
          })
          saveToLocal.set('leancloud-newest-comments', JSON.stringify(valineArray), 10/(60*24))
          generateHtml(valineArray)
        }).catch(e => { 
          const $dom = document.querySelector('#card-newest-comments .aside-list')
          $dom.innerHTML= "!{_p('aside.card_newest_comments.error')}"
        }) 
    }

    const newestCommentInit = () => {
      if (document.querySelector('#card-newest-comments .aside-list')) {
        const data = saveToLocal.get('leancloud-newest-comments')
        if (data) {
          generateHtml(JSON.parse(data))
        } else {
          getValineData()
        }
      }
    }

    newestCommentInit()
    document.addEventListener('pjax:complete', newestCommentInit)
  })
