- let default_avatar = theme.waline.avatar

script.
  window.addEventListener('load', () => {
    const changeContent = (content) => {
      if (content === '') return content

      content = content.replace(/<[^>]+>/g,"") // remove html tag
      content = content.replace(/(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|jpeg|gif|png|webp)/g, '') // remove image link
      content = content.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gi, '') // remove url

      if (content.length > 150) {
        content = content.substring(0,150) + '...'
      }
      return content
    }

    const getIcon = (mail) => {
      let defaultIcon = '!{ default_avatar ? `?d=${default_avatar}` : ''}'
      let iconUrl = `https://gravatar.loli.net/avatar/${mail + defaultIcon}`
      return iconUrl
    }

    const generateHtml = array => {
      let result = ''

      if (array.length) {
        for (let i = 0; i < array.length; i++) {
          result += '<div class=\'aside-list-item\'>'

          if (!{theme.newest_comments.avatar}) {
            let name = 'src'
            if(!{theme.lazyload.enable}) {
              name = 'data-lazy-src'
            }
            result += `<a href='${array[i].url}' class="thumbnail"><img ${name}='${getIcon(array[i].mail)}' alt='${array[i].nick}'></a>`
          }

          result += `<div class='content'>
          <a class='comment' href='${array[i].url}'>${array[i].content}</a>
          <div class='name'><span>${array[i].nick}</span><time> / ${btf.diffDate(array[i].date, true)}</time></div>
          </div></div>`
        }
      } else {
        result += '!{_p("aside.card_newest_comments.zero")}'
      }

      let $dom = document.querySelector('#card-newest-comments .aside-list')
      $dom.innerHTML= result
      window.lazyLoadInstance && window.lazyLoadInstance.update()
      window.pjax && window.pjax.refresh($dom)
    }

    const getComment = () => {
      const loadWaline = () => {
        Waline.Widget.RecentComments({
          el: '#card-newest-comments .aside-list',
          serverURL: '!{theme.waline.serverURL}',
          count: !{theme.newest_comments.limit}
        }).then(comments => {
          const walineArray = comments.map(function (e) {
            return {
              'content': changeContent(e.comment),
              'mail': e.mail,
              'nick': e.nick,
              'url': e.url + '#' + e.objectId,
              'date': e.createdAt,
            }
          })
          saveToLocal.set('waline-newest-comments', JSON.stringify(walineArray), 10/(60*24))
          generateHtml(walineArray)
        }).catch(e => {
          const $dom = document.querySelector('#card-newest-comments .aside-list')
          $dom.innerHTML= "!{_p('aside.card_newest_comments.error')}"
        }) 
      }

      if (typeof Waline === 'function') loadWaline() 
      else getScript('!{url_for(theme.CDN.waline)}').then(loadWaline)
    }

    const newestCommentInit = () => {
      if (document.querySelector('#card-newest-comments .aside-list')) {
        const data = saveToLocal.get('waline-newest-comments')
        if (data) {
          generateHtml(JSON.parse(data))
        } else {
          getComment()
        }
      }
    }

    newestCommentInit()
    document.addEventListener('pjax:complete', newestCommentInit)
  })
