if theme.fireworks && theme.fireworks.enable
  canvas.fireworks
  script(src=url_for(theme.CDN.anime))
  script(src=url_for(theme.CDN.fireworks))

if (theme.canvas_ribbon && theme.canvas_ribbon.enable)
  script(defer id="ribbon" src=url_for(theme.CDN.canvas_ribbon) size=theme.canvas_ribbon.size
  alpha=theme.canvas_ribbon.alpha zIndex=theme.canvas_ribbon.zIndex mobile=`${theme.canvas_ribbon.mobile}` data-click=`${theme.canvas_ribbon.click_to_change}`)

if (theme.canvas_ribbon_piao && theme.canvas_ribbon_piao.enable)
  script(defer id="ribbon_piao" mobile=`${theme.canvas_ribbon_piao.mobile}` src=url_for(theme.CDN.canvas_ribbon_piao))

if (theme.canvas_nest && theme.canvas_nest.enable)
  script#canvas_nest(defer color=theme.canvas_nest.color opacity=theme.canvas_nest.opacity zIndex=theme.canvas_nest.zIndex count=theme.canvas_nest.count mobile=`${theme.canvas_nest.mobile}` src=url_for(theme.CDN.canvas_nest))

if theme.activate_power_mode.enable
  script(src=url_for(theme.CDN.activate_power_mode))
  script.
    POWERMODE.colorful = !{theme.activate_power_mode.colorful};
    POWERMODE.shake = !{theme.activate_power_mode.shake};
    document.body.addEventListener('input', POWERMODE);

//- 鼠標特效
if theme.click_heart
  script(src=url_for(theme.CDN.click_heart) async)

if theme.ClickShowText && theme.ClickShowText.enable
  script(src=url_for(theme.CDN.ClickShowText) async)
