- var top_img = theme.error_404.background || theme.default_top_img
- var bg_img = `background-image: url(${url_for(top_img)})`

doctype html
html(lang=config.language data-theme=theme.display_mode)
  head
    include includes/head.pug
  body
    if theme.preloader
      !=partial('includes/loading/loading', {}, {cache:theme.fragment_cache})

    if theme.fireworks && theme.fireworks.enable
      canvas.fireworks
    
    if theme.background
      - var is_photo = theme.background.startsWith('url') ? 'photo':'color'
      #web_bg(data-type=is_photo)

    #error-wrap
      .error-content
        .error-img(style=bg_img)
        .error-info
          h1.error_title= '404'
          .error_subtitle= theme.error_404.subtitle
          a.button--animated(href=config.root)
            i.fas.fa-rocket
            = _p('error404.back_button')
          
    !=partial('includes/search/index', {}, {cache:theme.fragment_cache})
    include includes/additional-js.pug
