script.
  function loadDisqus () {
    var disqus_config = function () {
      this.page.url = '!{ page.permalink }'
      this.page.identifier = '!{ page.path }'
      this.page.title = '!{ page.title }'
    };

    window.disqusReset = () => {
      DISQUS.reset({
        reload: true,
        config: disqus_config
      })
    }

    if (window.DISQUS) {
      disqusReset()
    } else {
      (function() { 
        var d = document, s = d.createElement('script')
        s.src = 'https://!{theme.disqus.shortname}.disqus.com/embed.js'
        s.setAttribute('data-timestamp', +new Date())
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    }
  }

  if ('!{defaultComment}' === 'Disqus' || !{theme.comments.load_begin}) {
    loadDisqus()
  }
  else {
    function loadOtherComment () {
      loadDisqus()
    }
  }


if is_post() && theme.comments.count && defaultComment === 'Disqus'
  script.
    if (window.DISQUSWIDGETS === undefined) {
      var d = document, s = d.createElement('script');
      s.src = 'https://!{theme.disqus.shortname}.disqus.com/count.js';
      s.id = 'dsq-count-scr';
      (d.head || d.body).appendChild(s);
    } else {
      DISQUSWIDGETS.getCount({reset: true});
    }
