#disqus_thread
script.
  var disqus_config = function () {
    this.page.url = '!{ page.permalink }';
    this.page.identifier = '!{ page.path }';
    this.page.title = '!{ page.title }';
  };
  (function() { 
    var d = document, s = d.createElement('script');
    s.src = 'https://!{theme.disqus.shortname}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

if is_post() && theme.disqus.count
  script.
    function getDisqusCount() {
      var d = document, s = d.createElement('script');
      s.src = 'https://!{theme.disqus.shortname}.disqus.com/count.js';
      s.id = 'dsq-count-scr';
      (d.head || d.body).appendChild(s);
    }

    window.addEventListener('load', getDisqusCount, false);