#gitalk-container
script.
  var gitalk = new Gitalk({
    clientID: '!{theme.gitalk.client_id}',
    clientSecret: '!{theme.gitalk.client_secret}',
    repo: '!{theme.gitalk.repo}',
    owner: '!{theme.gitalk.owner}',
    admin: ['!{theme.gitalk.admin}'],
    id: md5(decodeURI(location.pathname)),
    language: '!{theme.gitalk.language}',
    perPage: !{theme.gitalk.perPage},
    distractionFreeMode: !{theme.gitalk.distractionFreeMode},
    pagerDirection: '!{theme.gitalk.pagerDirection}',
    createIssueManually: !{theme.gitalk.createIssueManually},
    updateCountCallback: commentCount
  })
  gitalk.render('gitalk-container')

  function commentCount(n){
    try {
      document.getElementsByClassName('gitalk-comment-count')[0].innerHTML= n
    } catch (e) {
      return false
    }
  }


