if theme.gitalk && theme.gitalk.enable
  #gitalk-container
  script.
    var gitalk = new Gitalk({
      clientID: '!{theme.gitalk.client_id}',
      clientSecret: '!{theme.gitalk.client_secret}',
      repo: '!{theme.gitalk.repo}',
      owner: '!{theme.gitalk.owner}',
      admin: '!{theme.gitalk.admin}',
      id: md5(decodeURI(location.pathname)),
      language: '!{theme.gitalk.language}'
    })
    gitalk.render('gitalk-container')