if theme.comments && theme.comments.use
  - const defaultComment = theme.comments.use[0]
  hr
  #post-comment
    .comment-head
      .comment-headling
        i.fas.fa-comments.fa-fw
        span= ' ' + _p('comment')
      
      if theme.comments.use.length > 1
        .comment-switch
          span.first-comment=defaultComment
          label
            input#switch-comments-btn(type="checkbox")
            span.slider
          span.second-comment=theme.comments.use[1]


    .comment-wrap
      each name, index in theme.comments.use
        div(class=`comments-items-${index+1}` data-name=`${name}`)
          case name
            when 'Disqus'
              include ./disqus.pug
            when 'Valine'
              include ./valine.pug
            when 'Disqusjs'
              include ./disqusjs.pug
            when 'Livere'
              include ./livere.pug
            when 'Gitalk'
              include ./gitalk.pug
            when 'Utterances'
              include ./utterances.pug
            when 'Facebook Comments'
              include ./facebook_comments.pug