if theme.disqus && theme.disqus.enable
  hr
  #post-comment
    .comment_headling
      i.fa.fa-comments.fa-fw(aria-hidden="true")
      span= ' ' + _p('comment')
    include ./disqus.pug
else if theme.laibili && theme.laibili.enable
  hr
  #post-comment
    .comment_headling
      i.fa.fa-comments.fa-fw(aria-hidden="true")
      span= ' ' + _p('comment')
    include ./laibili.pug
else if theme.gitment && theme.gitment.enable
  hr
  #post-comment
    .comment_headling
      i.fa.fa-comments.fa-fw(aria-hidden="true")
      span= ' ' +  _p('comment')
    include ./gitment.pug
else if theme.gitalk && theme.gitalk.enable
  hr
  #post-comment
    .comment_headling
      i.fa.fa-comments.fa-fw(aria-hidden="true")
      span= ' ' +  _p('comment')
    include ./gitalk.pug
else if theme.valine && theme.valine.enable
  hr
  #post-comment
    .comment_headling
      i.fa.fa-comments.fa-fw(aria-hidden="true")
      span= ' ' +  _p('comment')
    include ./valine.pug