-
  const titleVal = pageTitle.replace(/'/ig,"\\'")

  let isHighlightShrink
  if (theme.highlight_shrink == 'none') isHighlightShrink = 'undefined'
  else if (page.highlight_shrink === true || page.highlight_shrink === false) isHighlightShrink = page.highlight_shrink
  else isHighlightShrink = theme.highlight_shrink

  var showToc = false
  if (theme.aside.enable && page.aside !== false) {
    let tocEnable = false
    if (is_post()) {
      if (theme.toc.post) tocEnable = true
    } else if (is_page()) {
      if (theme.toc.page) tocEnable = true
    }
    const pageToc = page.toc === true || page.toc === false ? page.toc : tocEnable
    showToc = pageToc && (toc(page.content) !== '' || page.encrypt == true )
  }

  function selectLangAttributes(global, curr) {
    function convertLangNames(set) {
      if (set === undefined) return undefined
      if (Array.isArray(set)) {
        return set.join(',');
      } else if (set == '') {
        return ''
      } else {
        return set + ''
      }
    }
    global = convertLangNames(global)
    curr = convertLangNames(curr)
    if (curr !== undefined) return curr
    else if (global !== undefined) return global
    return ''
  }
  let highlightLangAlwaysExpand = selectLangAttributes(theme.highlight_always_expand, page.highlight_always_expand)
  let highlightLangAlwaysCollapse = selectLangAttributes(theme.highlight_always_collapse, page.highlight_always_collapse)

-

script#config-diff.
  var GLOBAL_CONFIG_SITE = {
    title: '!{titleVal}',
    isPost: !{is_post()},
    isHome: !{is_home()},
    isHighlightShrink: !{isHighlightShrink},
    isToc: !{showToc},
    postUpdate: '!{full_date(page.updated)}',
    highlightLangExpand: '!{highlightLangAlwaysExpand}',
    highlightLangCollapse: '!{highlightLangAlwaysCollapse}'
  }
