- var photo_check = is_post() ? page.cover || theme.avatar : theme.avatar
- var photo_link = url_check (photo_check) ? photo_check : config.url + photo_check
- var contentType = is_post() ? 'article' : 'website'

//- twitter meta
if theme.twitter_meta
  meta(name="twitter:card" content="summary")
  meta(name="twitter:title" content=pageTitle_no_include_blog_name)
  meta(name="twitter:description" content=pageDescription)
  meta(name="twitter:image" content=photo_link)

//- Open_Graph
if theme.Open_Graph_meta
  meta(property="og:type" content=contentType)
  meta(property="og:title" content=pageTitle_no_include_blog_name)
  meta(property="og:url" content=without_html)
  meta(property="og:site_name" content=config.title)
  meta(property="og:description" content=pageDescription)
  meta(property="og:image" content=photo_link)
