link(rel="manifest" href=theme.pwa.manifest)
if(theme.pwa.theme_color) 
  meta(name="theme-color" content=theme.pwa.theme_color)
if(theme.pwa.theme_color) 
  meta(name="msapplication-TileColor" content=theme.pwa.theme_color)
if(theme.pwa.apple_touch_icon) 
  link(rel="apple-touch-icon" sizes="180x180" href=theme.pwa.apple_touch_icon)
if(theme.pwa.favicon_32_32) 
  link(rel="icon" type="image/png" sizes="32x32" href=theme.pwa.favicon_32_32)
if(theme.pwa.favicon_16_16)
  link(rel="icon" type="image/png" sizes="16x16" href=theme.pwa.favicon_16_16)
if(theme.pwa.mask_icon)
  link(rel="mask-icon" href=theme.pwa.mask_icon color="#5bbad5")
