if theme.google_site_verification
  if theme.google_site_verification instanceof Array
    each val in theme.google_site_verification
      meta(name="google-site-verification" content=val)
  else
    meta(name="google-site-verification" content=theme.google_site_verification)

if theme.bing_site_verification
  if theme.bing_site_verification instanceof Array
    each val in theme.bing_site_verification
      meta(name="msvalidate.01" content=val)
  else
    meta(name="msvalidate.01" content=theme.bing_site_verification)

if theme.baidu_site_verification
  if theme.baidu_site_verification instanceof Array
    each val in theme.baidu_site_verification
      meta(name="baidu-site-verification" content=val)
  else
    meta(name="baidu-site-verification" content=theme.baidu_site_verification)

if theme.qihu_site_verification
  if theme.qihu_site_verification instanceof Array
    each val in theme.qihu_site_verification
      meta(name="360-site-verification" content=val)
  else
    meta(name="360-site-verification" content=theme.qihu_site_verification)

if theme.yandex_site_verification
  if theme.yandex_site_verification instanceof Array
    each val in theme.yandex_site_verification
      meta(name="yandex-verification" content=val)
  else
    meta(name="yandex-verification" content=theme.yandex_site_verification)
