script.
  function addGitalkSource () {
    const ele = document.createElement('link')
    ele.rel = 'stylesheet'
    ele.href= '!{url_for(theme.CDN.gitalk_css)}'
    document.getElementsByTagName('head')[0].appendChild(ele)
  }

  function loadGitalk () {
    function initGitalk () {
      var gitalk = new Gitalk(Object.assign({
        clientID: '!{theme.gitalk.client_id}',
        clientSecret: '!{theme.gitalk.client_secret}',
        repo: '!{theme.gitalk.repo}',
        owner: '!{theme.gitalk.owner}',
        admin: ['!{theme.gitalk.admin}'],
        id: '!{md5(page.path)}',
        language: '!{theme.gitalk.language}',
        perPage: !{theme.gitalk.perPage},
        distractionFreeMode: !{theme.gitalk.distractionFreeMode},
        pagerDirection: '!{theme.gitalk.pagerDirection}',
        createIssueManually: !{theme.gitalk.createIssueManually},
        updateCountCallback: commentCount
      },!{JSON.stringify(theme.gitalk.option)}))

      gitalk.render('gitalk-container')
    }

    if (typeof Gitalk === 'function') initGitalk()
    else {
      addGitalkSource()
      getScript('!{url_for(theme.CDN.gitalk)}').then(initGitalk)
    }
  }
  
  function commentCount(n){
    let isCommentCount = document.querySelector('#post-meta .gitalk-comment-count')
    if (isCommentCount) {
      isCommentCount.innerHTML= n
    }
  }

  if ('!{theme.comments.use[0]}' === 'Gitalk' || !!{theme.comments.lazyload}) {
    if (!{theme.comments.lazyload}) btf.loadComment(document.getElementById('gitalk-container'), loadGitalk)
    else loadGitalk()
  } else {
    function loadOtherComment () {
      loadGitalk()
    }
  }



