- const { serverURL, avatar, avatarCDN, visitor, option } = theme.waline

script.
  function loadWaline () {
    function initWaline () {
      const waline = new Waline(Object.assign({
        el: '#waline-wrap',
        serverURL: '!{serverURL}',
        avatar: '#{avatar}',
        avatarCDN: '!{avatarCDN || "https://sdn.geekzu.org/avatar/"}',
        path: location.pathname,
        visitor: !{visitor},
        dark: 'html[data-theme="dark"]'
      }, !{JSON.stringify(option)}))
    }

    if (typeof Waline === 'function') initWaline() 
    else getScript('!{url_for(theme.CDN.waline)}').then(initWaline)
  }

  if ('!{theme.comments.use[0]}' === 'Waline' || !!{theme.comments.lazyload}) {
    if (!{theme.comments.lazyload}) btf.loadComment(document.getElementById('waline-wrap'),loadWaline)
    else setTimeout(loadWaline, 0)
  } else {
    function loadOtherComment () {
      loadWaline()
    }
  }
  

