#mobile-sidebar-menus
  .mobile_author_icon
    img.avatar-img(src=url_for(theme.avatar.img) onerror=`onerror=null;src='${theme.error_img.flink}'` alt="avatar")
  .mobile_post_data
    if site.posts.length
      .mobile_data_item.is-center
        .mobile_data_link
          a(href=url_for(config.archive_dir) + '/')
            .headline= _p('aside.articles') 
            .length_num= site.posts.length

    if site.tags.length
      .mobile_data_item.is-center       
        .mobile_data_link
          a(href=url_for(config.tag_dir) + '/' )
            .headline= _p('aside.tags')
            .length_num= site.tags.length

    if site.categories.length
      .mobile_data_item.is-center      
        .mobile_data_link
          a(href=url_for(config.category_dir) + '/')
            .headline= _p('aside.categories') 
            .length_num= site.categories.length
  hr
  !=fragment_cache('menus', function(){return partial('includes/header/menu_item')})
