.card_widget.card-author
  .card-content
    .post_data
      .data-item.is_center
        img.lazyload.avatar_img(src=url_for(theme.avatar) onerror=`onerror=null;src='${theme.lodding_bg.flink}'`)
        p.author-info__name.is_center= config.author
        p.author-info__description.is_center= config.description

    .post_data.data_config
      if site.posts.length
        .data-item.is_center
          .data_link
            a(href=url_for(config.archive_dir) + '/')
              p.headline= _p('aside.articles') 
              p.length_num= site.posts.length

      if site.tags.length
        .data-item.is_center       
          .data_link
            a(href=url_for(config.tag_dir) + '/' )
              p.headline= _p('aside.tags')
              p.length_num= site.tags.length

      if site.categories.length
        .data-item.is_center      
          .data_link
            a(href=url_for(config.category_dir) + '/')
              p.headline= _p('aside.categories') 
              p.length_num= site.categories.length

    .post_data.is_center
      a#bookmark-it.data-item.bookmark.bookmarke--primary.bookmark--animated(href="javascript:;" title= _p('aside.card_bookmark') target="_self")
        i.fa.fa-bookmark(aria-hidden="true")
        span= _p('aside.card_bookmark') || 'Follow Me'
      
  
  
    if(theme.social)
      .post_data.data_config
        #aside-social-icons 
          each url, icon in theme.social
            a.social-icon.data-item(href=url target="_blank")
              i(class=icon)
