.card-widget.card-info
  .card-content
    .card-info-avatar.is-center
      img.avatar-img(src=url_for(theme.avatar.img) onerror=`this.onerror=null;this.src='` + url_for(theme.error_img.flink) + `'` alt="avatar")
      .author-info__name= config.author
      .author-info__description!= theme.aside.card_author.description || config.description

    .card-info-data
      if site.posts.length
        .card-info-data-item.is-center
          a(href=url_for(config.archive_dir))
            .headline= _p('aside.articles') 
            .length_num= site.posts.length

      if site.tags.length
        .card-info-data-item.is-center       
          a(href=url_for(config.tag_dir))
            .headline= _p('aside.tags')
            .length_num= site.tags.length

      if site.categories.length
        .card-info-data-item.is-center      
          a(href=url_for(config.category_dir))
            .headline= _p('aside.categories') 
            .length_num= site.categories.length

    .card-info-bookmark.is-center
      button#bookmark-it.button--animated(type="button" title= _p('aside.card_bookmark'))
        i.fas.fa-bookmark
        span= _p('aside.card_bookmark') || 'Follow Me'
  
    if(theme.social)
        .card-info-social-icons.is-center
          !=fragment_cache('social', function(){return partial('includes/header/social')}) 
