if theme.translate && theme.translate.enable
  script(src=url_for(theme.CDN.translate))

if (theme.medium_zoom && theme.medium_zoom.enable)
  script(src=url_for(theme.CDN.medium_zoom))

if (theme.fancybox && theme.fancybox.enable)
  script(src=url_for(theme.CDN.fancybox))

include ./math/index.pug 

if theme.fireworks && theme.fireworks.enable
  script(src=url_for(theme.CDN.anime))
  script(src=url_for(theme.CDN.fireworks))

if (theme.snackbar && theme.snackbar.enable)
  script(src=url_for(theme.CDN.snackbar))

if (theme.canvas_ribbon && theme.canvas_ribbon.enable)
  include ./third-party/canvas-ribbon.pug

if (theme.canvas_ribbon_piao && theme.canvas_ribbon_piao.enable)
  include ./third-party/canvas-ribbon-piao.pug

if (theme.canvas_nest && theme.canvas_nest.enable)
  include ./third-party/canvas-nest.pug 

if theme.activate_power_mode.enable
  - var colorful = theme.activate_power_mode.colorful == false ? false : true
  - var shake = theme.activate_power_mode.shake == false ? false : true
  script(src=url_for(theme.CDN.activate_power_mode))
  script.
    POWERMODE.colorful = !{colorful};
    POWERMODE.shake = !{shake}; 
    document.body.addEventListener('input', POWERMODE);

if theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv
  script(async src=url_for(theme.CDN.busuanzi))

if theme.instantpage.enable
  script(src=url_for(theme.CDN.instantpage) type="module")

if theme.lazyload.enable
  script(src=url_for(theme.CDN.lazyload) async="")

//- 鼠標特效
if theme.click_heart && theme.click_heart.enable
  script(src=url_for(theme.CDN.click_heart))

if theme.ClickShowText && theme.ClickShowText.enable
  script(src=url_for(theme.CDN.ClickShowText))

if is_home()
  include index-js.pug