if (theme.algolia_search.enable)
  script(async src=url_for('/js/search/algolia.js'))
if (theme.mathjax && theme.mathjax.enable)
  if(!is_tag() && !is_category() && !is_archive())
    include ./third-party/mathjax.pug
if (theme.katex && theme.katex.enable)
  if(!is_tag() && !is_category() && !is_archive())
    include ./third-party/katex.pug
if (theme.local_search && theme.local_search.enable)
  script(async src=url_for('/js/search/local-search.js'))

if theme.fireworks && theme.fireworks.enable
  script(src='https://cdn.jsdelivr.net/npm/animejs@latest/anime.min.js')
  script(src=url_for('/js/third-party/fireworks.js'))

if theme.nightshift.enable
  script(src=url_for('js/nightshift.js'))

if (theme.canvas_ribbon && theme.canvas_ribbon.enable)
  include ./third-party/canvas-ribbon.pug

if (theme.canvas_ribbon_piao && theme.canvas_ribbon_piao.enable)
  include ./third-party/canvas-ribbon-piao.pug

if (theme.canvas_nest && theme.canvas_nest.enable)
  include ./third-party/canvas-nest.pug 

if theme.baidu_push && theme.baidu_push.enable
  script(src=url_for('js/baidupush.js')) 

if theme.activate_power_mode.enable
  script(src=url_for('js/activate-power-mode.js'))
  script.
    POWERMODE.colorful = true; // make power mode colorful
    POWERMODE.shake = true; // turn off shake
    document.body.addEventListener('input', POWERMODE);

if theme.translate && theme.translate.enable
  script(src=url_for('/js/tw_cn.js'))
  script.
    translateInitilization()


if is_home() && theme.subtitle.enable
  script(src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9")    
  script.
    var typed = new Typed(".subtitle", {
    strings: '!{theme.subtitle.sub}'.split(","),
    startDelay: 300,
    typeSpeed: 100,
    loop: true,
    backSpeed: 50
    });

if theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv
  script(async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js")

if theme.instantpage.enable
  script(src="https://cdn.jsdelivr.net/npm/instant.page@1.2.2/instantpage.min.js" type="module")

if theme.lazyload.enable
  script(src=url_for(theme.lazyload.script))
  script. 
    const observer = lozad(); // lazy loads elements with default selector as '.lozad'
    observer.observe();

if is_home() && !theme.index_top_img_height && !theme.index_site_info_top
  script.
    //首頁fullpage
    function alignContent() {
      for (var n = $(window).height(), e = document.querySelectorAll(".full_page"), i = 0; i < e.length; i++) 
        e[i].style.height = n + "px";
        $("#site-info").each(function () {
          var x = $(this).height();
          $(this).css("top", (n-x)/2)       
        })
    }
    alignContent();
    
    $(window).bind("resize", function () {
      alignContent()
    })

