if (theme.medium_zoom && theme.medium_zoom.enable)
  script(src=url_for(theme.CDN.medium_zoom))
else
  script(src=url_for(theme.CDN.fancybox))

if (theme.algolia_search.enable)
  script(async src=url_for(theme.CDN.algolia_js))
if (theme.mathjax && theme.mathjax.enable)
  if(!is_tag() && !is_category() && !is_archive() && !is_home())
    include ./third-party/mathjax.pug
if (theme.katex && theme.katex.enable)
  if(!is_tag() && !is_category() && !is_archive() && !is_home())
    include ./third-party/katex.pug
if (theme.local_search && theme.local_search.enable)
  script(async src=url_for(theme.CDN.local_search))

if theme.fireworks && theme.fireworks.enable
  script(src=url_for(theme.CDN.anime))
  script(src=url_for(theme.CDN.fireworks))

if (theme.snackbar && theme.snackbar.enable)
  script(src=url_for(theme.CDN.snackbar))

if (theme.canvas_ribbon && theme.canvas_ribbon.enable)
  include ./third-party/canvas-ribbon.pug

if (theme.canvas_ribbon_piao && theme.canvas_ribbon_piao.enable)
  include ./third-party/canvas-ribbon-piao.pug

if (theme.canvas_nest && theme.canvas_nest.enable)
  include ./third-party/canvas-nest.pug 

if theme.baidu_push && theme.baidu_push.enable
  script(src=url_for('js/baidupush.js')) 

if theme.activate_power_mode.enable
  script(src=url_for(theme.CDN.activate_power_mode))
  script.
    POWERMODE.colorful = true; // make power mode colorful
    POWERMODE.shake = true; // turn off shake
    document.body.addEventListener('input', POWERMODE);

if theme.translate && theme.translate.enable
  script(src=url_for(theme.CDN.translate))
  script.
    translateInitilization()

if is_home()
  include index-js.pug

if theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv
  script(async src=url_for(theme.CDN.busuanzi))

if theme.instantpage.enable
  script(src=url_for(theme.CDN.instantpage) type="module")

if theme.lazyload.enable
  script(src=url_for(theme.CDN.lazyload) async="")

//- 鼠標特效
if theme.click_heart && theme.click_heart.enable
  script(src=url_for(theme.CDN.click_heart))

if theme.ClickShowText && theme.ClickShowText.enable
  script(src=url_for(theme.CDN.ClickShowText))
