#footer
  - var now = new Date()
  - var nowYear = now.getFullYear()
  if theme.since && theme.since != nowYear
    .copyright!= `&copy;${theme.since} - ${nowYear} By ${config.author}`
  else
    .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer_copyright.enable
    .framework-info
      span= _p('footer.driven') + ' '
      a(href='http://hexo.io')
        span Hexo
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')
        span Butterfly
  if theme.footer_custom_text
    .footer_custom_text!=`${theme.footer_custom_text}`   
  if theme.ICP.enable
    .icp
      a(href=theme.ICP.url)
        if theme.ICP.icon
          img.icp-icon(src=url_for(theme.ICP.icon))
        span=theme.ICP.text
