#page-header
  span.pull-left 
    a#site-name.blog_title(href=url_for('/')) #[=config.title]
  //- i.fa.fa-bars.toggle-menu.pull-right(aria-hidden="true")
  .open.toggle-menu.pull-right
    .menu-icon-first
    .menu-icon-second
    .menu-icon-third
  
  .menu_mask
  
  span.pull-right.menus
    .mobile_author_icon
      img.lozad(src=theme.avatar || url_for('/img/avatar.png') onerror=`onerror=null;src='${theme.lodding_bg.flink}'`)
    .mobile_post_data
      if site.posts.length
        .mobile_data_item.text-center
          .mobile_data_link
            a(href=url_for(config.archive_dir) + '/')
              .headline= _p('aside.articles') 
              .length_num= site.posts.length

      if site.tags.length
        .mobile_data_item.text-center       
          .mobile_data_link
            a(href=url_for(config.tag_dir) + '/' )
              .headline= _p('aside.tags')
              .length_num= site.tags.length

      if site.categories.length
        .mobile_data_item.text-center      
          .mobile_data_link
            a(href=url_for(config.category_dir) + '/')
              .headline= _p('aside.categories') 
              .length_num= site.categories.length

    hr
    .menus_item
      each value, label in theme.menu
        a.site-page(href=value.split('||')[0])
          i.fa-fw(class=value.split('||')[1])
          span=' '+label
      script.
        document.body.addEventListener('touchstart', function(){ });
  span.pull-right
    if (theme.algolia_search.enable || theme.local_search && theme.local_search.enable)
        a.site-page.social-icon.search
          i.fa.fa-search.fa-fw
          span=' '+_p('search')
