- var hideAside = !theme.aside.enable || page.aside === false ? 'hide-aside' : ''

doctype html
html(lang=config.language data-theme=theme.display_mode)
  head
    include ./head.pug
  body
    if theme.preloader
      !=partial('includes/loading/loading', {}, {cache:theme.fragment_cache})

    !=partial('includes/mobile-sidebar/index', {}, {cache:theme.fragment_cache})

    #body-wrap
      if theme.background
        - var is_photo = theme.background.startsWith('url') ? 'photo':'color'
        #web_bg(data-type=is_photo)

      include ./sidebar.pug
      include ./header/index.pug

      if (!is_post())
        main#content-inner.layout_page(class=hideAside)
          if body
            div!= body
          else
            block content
            include widget/index.pug
      else
        main#content-inner.layout_post
          if body
            div!= body
          else
            block content
      
      - var footer_bg = theme.footer_bg == false ? '' : bg_img
      - var is_bg = theme.footer_bg == false ? 'color' : 'photo'
      footer#footer(style=footer_bg data-type=is_bg)
        !=partial('includes/footer', {}, {cache:theme.fragment_cache})

    include ./rightside.pug
    !=partial('includes/third-party/search/index', {}, {cache:theme.fragment_cache})
    include ./additional-js.pug