each value, label in theme.menu
  if !Array.isArray(value)
    .menus_item
      a.site-page(href=trim(value.split('||')[0]))
        i.fa-fw(class=trim(value.split('||')[1]))
        span=' '+label
  else
    .menus_item
      a.site-page
        i.fa-fw(class=trim(label.split('||')[1]) aria-hidden="true")
        span=' '+ trim(label.split('||')[0])
        i.fa.fa-chevron-down.menus-expand(aria-hidden="true")
      ul.menus_item_child
        each i in value
          li
            a.site-page(href=trim(i.split('||')[1]))
              i.fa-fw(class=trim(i.split('||')[2]))
              span=' '+trim(i.split('||')[0])
script.
  document.body.addEventListener('touchstart', function(){ });
