
- var bg_img = top_img && top_img !== true ? `background-image: url(${top_img})` : ''


if is_home()
  nav#nav.full_page
    .nav_bg(style=bg_img)
    #site-info
      #site-title
        span.blogtitle= page.title || page.tag || page.category || config.title
      #site-sub-title
        span.subtitle
        
      if(theme.social)
        #site-social-icons
          each url, icon in theme.social
            a.social-icon(href=url target="_blank")
              i(class=icon)
      
    .scroll-down
      i.fa.fa-angle-down.scroll-down-effects

else
  nav#nav.not_index_bg
    .nav_bg(style=bg_img)
    #page_site-info
      #site-title
          if (is_archive()) 
            span.blogtitle= _p('archives')
          else
            span.blogtitle= page.title || page.tag || page.category || config.title