if page.total !== 1
  -
    var options = {
      prev_text: '<i class="fas fa-chevron-left fa-fw"></i>',
      next_text: '<i class="fas fa-chevron-right fa-fw"></i>',
      mid_size: 1,
      escape: false
    }

  if globalPageType === 'post'
    - let paginationOrder = theme.post_pagination === 2 ? { prev: page.prev, next: page.next } : { prev: page.next, next: page.prev }

    nav#pagination.pagination-post
      each direction, key in paginationOrder
        if direction
          - const getPostDesc = direction.postDesc || postDesc(direction)
          - let className = key === 'prev' ? (paginationOrder.next ? '' : 'full-width') : (paginationOrder.prev ? '' : 'full-width')
          - className = getPostDesc ? className : className + ' no-desc'

          a.pagination-related(class=className href=url_for(direction.path) title=direction.title)
            - const hasPaginationCover = direction.pagination_cover !== undefined
            - const cover = hasPaginationCover ? direction.pagination_cover : direction.cover
            - const coverType = hasPaginationCover ? direction.pagination_cover_type : direction.cover_type
            - const coverMime = hasPaginationCover ? direction.pagination_cover_mime : direction.cover_mime
            - const paginationVideoParameters = direction.pagination_video_parameters || {}
            - const coverVideoParameters = direction.cover_video_parameters || {}
            - const autoplay = hasPaginationCover ? paginationVideoParameters.autoplay : (paginationVideoParameters.autoplay ?? coverVideoParameters.autoplay)
            - const loop = hasPaginationCover ? paginationVideoParameters.loop : (paginationVideoParameters.loop ?? coverVideoParameters.loop)
            - const poster = hasPaginationCover ? paginationVideoParameters.poster : (paginationVideoParameters.poster ?? coverVideoParameters.poster)

            if coverType === 'video'
              video.cover(autoplay=autoplay loop=loop muted playsinline poster=poster ? url_for(poster) : undefined)
                source(src=url_for(cover) type=coverMime || undefined)
            else if coverType === 'img'
              img.cover(src=url_for(cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=`cover of ${key === 'prev' ? 'previous' : 'next'} post`)
            else
              .cover(style=`background: ${cover || 'var(--default-bg-color)'}`)
            .info(class=key === 'prev' ? '' : 'text-right')
              .info-1
                .info-item-1=_p(`pagination.${key}`)
                .info-item-2!=direction.title
              if getPostDesc
                .info-2
                  .info-item-1!=getPostDesc
  else
    nav#pagination
      .pagination
        if globalPageType === 'home'
          - options.format = 'page/%d/#content-inner'
        !=paginator(options)
