section#rightside
  #rightside-config-hide
    if is_post() && theme.readmode
      button#readmode(type="button" title=_p('rightside.readmode_title'))
        i.fas.fa-book-open
    if theme.translate.enable
      button#translateLink(type="button" title=_p('rightside.translate_title'))= theme.translate.default
    if theme.darkmode.enable && theme.darkmode.button
      button#darkmode(type="button" title=_p('rightside.night_mode_title'))
        i.fas.fa-adjust
  #rightside-config-show
    if is_post()
      if (theme.readmode || theme.translate.enable || (theme.darkmode.enable && theme.darkmode.button))
        button#rightside_config(type="button" title=_p("rightside.setting"))
          i.fas.fa-cog
      if commentsJsLoad
        a#to_comment(href="#post-comment" title=_p("rightside.scroll_to_comment"))
          i.fas.fa-comments
      if showToc && theme.aside.mobile
        button#mobile-toc-button.close(type="button" title=_p("rightside.toc"))
          i.fas.fa-list-ul
    else if theme.translate.enable || (theme.darkmode.enable && theme.darkmode.button)
      button#rightside_config(type="button" title=_p("rightside.setting"))
        i.fas.fa-cog

    if theme.chat_btn
      button#chat_btn(type="button" title=_p("rightside.chat_btn"))
        i.fas.fa-sms

    button#go-up(type="button" title=_p("rightside.back_to_top"))
      i.fas.fa-arrow-up