-
  let tocNumber = page.toc_number !== undefined ? page.toc_number : theme.toc.number
  let autoOpenPostSet = page.auto_open == undefined ? theme.toc.auto_open : page.auto_open
  let autoOpenSidebar = autoOpenPostSet ? 'on' : ''
-

if(showToc)
  i.fas.fa-arrow-right#toggle-sidebar(class=autoOpenSidebar)
  #sidebar
    .sidebar-toc
      div.sidebar-toc__title= _p('sidebar.catalog')
      div.sidebar-toc__progress
        span.progress-notice= _p('sidebar.have_read')
        span.progress-num 0
        span.progress-percentage %
        div.sidebar-toc__progress-bar      
      if (page.encrypt == true)
        div.sidebar-toc__content.toc-div-class(style="display:none")!=toc(page.origin, {list_number: tocNumber})
      else 
        div.sidebar-toc__content!=toc(page.content, {list_number: tocNumber})
        