if top_img === false
  h1.page-title= page.title

#hpp_talk
script.
  (()=>{
    let setting = {
      id: "hpp_talk",
      domain: '!{theme.hexoplusplus.domain}',
      limit: !{theme.hexoplusplus.talk.limit},
      start: !{theme.hexoplusplus.talk.start},
      themecss: '!{theme.hexoplusplus.talk.themecss}',
    }

    const init = () => {
      new hpp_talk(setting)
    }

    if (typeof hpp_talk === 'function') {
      init()
    } else {
      getScript('!{theme.hexoplusplus.talk.hpptalk}').then(init)
    }
  })()